<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
<form>
    <div class="centeringDiv">
        <h1>Forgot your password?</h1>
        <h2>You probably blacked out, don't worry 🍻 Enter your details and we will send you an e-mail with instructions.</h2>
        <div class="input">
            <Label class="label"> Your email: </Label>
            <input class="input" type="text" style="border-radius: 15px;" name="username">
        </div>
        <div class="button">
            <button class="button-28" type="submit" (click)="ResetPassword()" routerLink="/sign-up-page">Reset
                password</button>
        </div>
    </div>
</form>