
<body style="background-color:rgb(37, 36, 40);">
<div class="cards" >

  <article style="background-color: aliceblue;" class="information [ card ]">
    <h2 class="title">Create User Account</h2>
    <p class="info">You can keep track of all of the events happening in Cluj-Napoca </p>
    <button class="button">
      <span routerLink="/sign-up-page">Choose Account</span>
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="none">
        <path d="M0 0h24v24H0V0z" fill="none" />
        <path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4v3z" fill="currentColor" />
      </svg>
    </button>
  </article>
  <article style="background-color: aliceblue;" class="plan [ card ]">

    <div class="inner">
      <h2 class="title">Create Business Account</h2>
      <p class="info">This plan is for those who haven running a large business.</p>
      <ul class="features">
        <li>
          <span class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
              <path fill="none" d="M0 0h24v24H0z" />
              <path d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z" fill="currentColor" />
            </svg>
          </span>
          <span>Post your events</span>
        </li>
        <li>
          <span class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
              <path fill="none" d="M0 0h24v24H0z" />
              <path d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z" fill="currentColor" />
            </svg>
          </span>
          <span>Promote events and sell tickets</span>
        </li>
        <li>
          <span class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
              <path fill="none" d="M0 0h24v24H0z" />
              <path d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z" fill="currentColor" />
            </svg>
          </span>
          <span>See how many people are intrested or coming to your event</span>
        </li>
      </ul>
      <button class="button" routerLink="/signup-ba">
        Choose plan
      </button>
    </div>
  </article>

</div>



</body>
