<div class="cards">
  <a routerLink="/"
    >
    <svg
      fill="#ffffff"
      width="40"
      height="40"
      viewBox="0 0 512 512"
      id="Layer_1"
      version="1.1"
      xml:space="preserve"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
    >
      <path
        d="M50.2,169.6C97.9,56.3,228.5,3.1,341.8,50.9s166.4,178.3,118.7,291.6S282.2,508.9,168.9,461.1  C86.4,426.4,32.7,345.5,32.7,256C32.7,226.3,38.6,196.9,50.2,169.6z M254.7,448c106,0,192-86,192-192s-86-192-192-192  s-192,86-192,192S148.7,448,254.7,448z M226.7,140.7L111.4,256l115.3,115.3l21.2-21.2L168.7,271h208.2v-30H168.7l79.1-79.1  L226.7,140.7z"
      />
    </svg>
  </a>
  <article style="background-color: aliceblue" class="information [ card ]">
    <h2 class="title">Create User Account <span class="emoji">🍻</span></h2>
    <p class="info">
      You can keep track of all of the events happening in Cluj-Napoca
    </p>
    <button class="button">
      <span routerLink="/sign-up-page">Create a Free Account</span>
    </button>
  </article>
  <article style="background-color: aliceblue" class="plan [ card ]">
    <div class="inner">
      <h2 class="title">
        Create Business Account<span class="emoji">🤝</span>
      </h2>
      <p class="info">
        This plan is for those who haven running a large business.
      </p>
      <ul class="features">
        <li>
          <span class="icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              width="24"
              height="24"
            >
              <path fill="none" d="M0 0h24v24H0z" />
              <path
                d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"
                fill="currentColor"
              />
            </svg>
          </span>
          <span>Post your events</span>
        </li>
        <li>
          <span class="icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              width="24"
              height="24"
            >
              <path fill="none" d="M0 0h24v24H0z" />
              <path
                d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"
                fill="currentColor"
              />
            </svg>
          </span>
          <span>Promote events and sell tickets</span>
        </li>
        <li>
          <span class="icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              width="24"
              height="24"
            >
              <path fill="none" d="M0 0h24v24H0z" />
              <path
                d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"
                fill="currentColor"
              />
            </svg>
          </span>
          <span>See how many people are intrested or coming to your event</span>
        </li>
      </ul>
      <button class="button" routerLink="/signup-ba">
        Create a Business Account
      </button>
    </div>
  </article>
</div>
