<div id="MobileView">
    <div id="Content">
      <h3 id="Title"><strong>*Change Password*</strong></h3>

      <div class="HR"></div>
  
      <menu>
        <ul>
          <li>
            <div id="Content">
              <h4>Old Password</h4>
              <input class="label" type="text" name="oldPasswd" placeholder="oldPasswd*">
              <label for="oldPasswd"></label>
            </div>
          </li>
          <li>
            <div id="Content">
              <h4>New Password</h4>
              <input class="label" type="text" name="newPasswd" placeholder="newPasswd*">
              <label for="newPasswd"></label>
            </div>
          </li>

        </ul>
    </menu>
    <button class="saveChanges" type="button">Save Changes</button>
  </div>
</div>
