<html>
  <head>
  </head>
  <body>
    <section class="page">
        <header id="header">
            <img id="logo" src="../assets/images/logo.png" href="#"/>
            <nav>
            <a id="menu-icon">&#8801;</a>
            </nav>
        </header>
        <header class="title-header">
            <h1 class="title">TakeMeOut</h1>
        </header>
        <article class="description">
            <h2 class="description-title">Learn about our website</h2>
            <p class="description-paragraph">Party people or social events enthusiasts? Looking for a crazy party tonight or a marathon to prove your running skills? On our website you can find the perfect event for any ocassion</p>
        </article>
        <footer class="footer">
            <a class="button button-primary" href="#">Sign Up</a>
            <a class="button" href="#">Log In</a>
        </footer>
    </section>
  </body>
</html>
