<html>
  <head>
  </head>
  <body>
    <section class="page">
        <header id="header">
            <img id="logo" src="../assets/images/logo.png" href="#"/>
            <nav>
            <a id="menu-icon">&#8801;</a>
            </nav>
        </header>
        <header class="title-header">
            <h1 class="title">TakeMeOut</h1>
        </header>
        <article class="description">
            <h2 class="description-title">Learn about our website</h2>
            <p class="description-paragraph">TakeMeOut is more than a website. We have an unique approach for sharing and promoting events near us. Starting with casual friday night parties, sport events or social events, TakeMeOut helps you find what you need.
              Still wondering what you can do on friday night?
              Join us and discover all the events taking place in Cluj-Napoca with TakeMeOut</p>
        </article>
        <footer class="footer">
            <a class="button button-primary" routerLink="/sign-up-page">Sign Up</a>
            <a class="button" routerLink="/login-page">Log In</a>
        </footer>

    </section>
    <div style="display:flex;">
    <button style="cursor:pointer;" class="button button-primary display-all-button" routerLink="/create-event">Create Event</button>
    <button style="cursor:pointer;" class="button button-primary display-all-button" routerLink="/display-events"><span>Display All</span></button>
    </div>

  </body>
</html>

  </body>
</html>