<div id="MobileView" style="background-color:white">
    <div id="Content">
      <div *ngFor="let venue of venues; let i = index">

        <h3 id="Title"><strong>{{venue.name}}</strong></h3>

        <div class="HR"></div>

        <menu>
          <ul>
            <li>
              <div id="Content">
                <h4>Name</h4>
                <span>{{venue.name}}</span>
              </div>
            </li>

            <li>
              <div id="Content">
                <h4>Contact Number</h4>
                <span>{{venue.contactNumber}}</span>
              </div>
            </li>

            <li>
              <div id="Content">
                <h4>Address</h4>
                <span>{{venue.address}}</span>
              </div>
            </li>

            <li>
              <div id="Content">
                <h4>Description</h4>
                <span>{{venue.description}}</span>
              </div>
            </li>

          </ul>
        </menu>
      </div>
  </div>
</div>
