.b{
  margin-top:6rem;
  width:13%;
  margin-left:43.5%;
}
.button {
  padding: 1em 1.80em;
  color: #f2e9e4;
  text-decoration: none;
  border: .1em solid #f2e9e4;
    font-weight:900;
    font-size: large;
    border-width: 3.5px;
  }

  .button-primary {
    color: black;
    background-color: #f2e9e4;
  }

  .sign-up-btn {
    color: black;
    background-color: #f2e9e4;
  }
  .display-all-button{
    border-radius: 10px;
    border-bottom:10px;

  }
