
<div id="MobileView">
    <div id="Content">
      <div id="UserImg"></div>
      <h3 id="Title"><strong>*BAname*</strong></h3>

      <div class="HR"></div>
  
      <menu>
        <ul>
          <li>
            <div id="Content">
              <h4>Name</h4>
              <span>*name*</span>
            </div>
          </li>

          <li>
            <div id="Content">
              <h4>Description</h4>
              <span>*description*</span>
            </div>
          </li>
          
          <li>
            <div id="Content">
              <h4>Contact Number</h4>
              <span>*contact number*</span>
            </div>
          </li>

          <li>
            <div id="Content">
              <h4>Address</h4>
              <span>*address*</span>
            </div>
          </li>
          
          

          <li>
            <div id="Content">
              <h4>Email</h4>
              <span>*email*</span>
            </div>
          </li>

          <li>
            <div id="Content">
              <h4>Venue Name</h4>
              <span>*name*</span>
            </div>
          </li>

          <li>
            <div id="Content">
              <h4>Venue Description</h4>
              <span>*description*</span>
            </div>
          </li>
                    
        </ul>
      </menu>
    </div>
  </div>

