<!-- <div id="MobileView">
  <div id="Content">
    <h3 id="Title"><strong>*BAname*</strong></h3>

    <div class="HR"></div>

    <form class="FormVenueEdit">
      <h3>Edit BusinessUser credentials</h3>
      <div class="centeringDivMain">
        <div class="centeringDiv" style="margin-right: 15px;">
          <div class="input">
            <Label style="margin-right:30px;color: red;"> Name: </Label>
            <input id="name" style="border-radius: 15px;" type="text" formControlName="nameEdit" value={{businessAccount.name}}>
            <Label style="margin-right:12px;color: red;" for="venueName"> Venue Name: </Label>
            <input id="venueName" style="border-radius: 15px;" type="text" formControlName="venueNameEdit"
              value={{businessAccount.VenueID}}>
            <Label style="margin-right:23px;color: red;" for="address"> Email: </Label>
            <input id="address" style="border-radius: 15px;" type="text" formControlName="addressEdit"
              value={{businessAccount.email}}>
            <Label style="margin-right:25px;color: red;" for="phone"> Phone: </Label>
            <input id="phone" style="border-radius: 15px;" type="text" formControlName="phoneNumberEdit"
              value={{businessAccount.contactNumber}}>
            <Label style="margin-right:25px;color: red;" for="description"> Description: </Label>
            <input id="description" style="border-radius: 15px;" type="text" formControlName="descriptionEdit"
              value={{businessAccount.description}}>
          </div>
        </div>
      </div>
      <button class="button-85" type="submit" (click)="FinalizeEdit()">Finalize Edit User</button>
    </form>


  </div>
</div> -->
<div style="background-color: rgb(37, 36, 40);">
<form class="FormVenueEdit"  [formGroup]="editBusinessAccountForm">

  <h1>Edit Form</h1>

  <fieldset>
    <legend><span class="number">*</span> Want to change your info?</legend>
    <br> <br>
            <Label style="margin-right:30px;color: rgb(209, 106, 106);"> Name: </Label>
            <input id="name" style="border-radius: 15px;" type="text" formControlName="name"
            value={{businessAccount.name}}>
            <Label style="margin-right:12px;color: rgb(209, 106, 106);" for="venueName"> Venue: </Label>
            <input id="venueName" style="border-radius: 15px;" type="text" formControlName="idVenue"
            value={{businessAccount.idVenue}}>
            <Label style="margin-right:23px;color: rgb(209, 106, 106);" for="address"> Email: </Label>
            <input id="address" style="border-radius: 15px;" type="text" formControlName="email"
            value={{businessAccount.email}} >
            <Label style="margin-right:25px;color: rgb(209, 106, 106);" for="phone"> Contact Number: </Label>
            <input id="phone" style="border-radius: 15px;" type="text" formControlName="contactNumber"
            value={{businessAccount.contactNumber}}>
            <Label style="margin-right:25px;color: rgb(209, 106, 106);" for="description"> Description: </Label>
            <input id="description" style="border-radius: 15px;" type="text" formControlName="description"
            value={{businessAccount.description}}>
  </fieldset>



  <button type="submit" (click)="FinalizeEdit()">Save</button>

</form>
</div>
