<div id="MobileView">
    <div id="Content">
      <h3 id="Title"><strong>*BAname*</strong></h3>

      <div class="HR"></div>
  
      <menu>
        <ul>
          <li>
            <div id="Content">
              <h4>Name</h4>
              <input class="label" type="text" name="name" placeholder="name*">
              <label for="name"></label>
            </div>
          </li>

          <li>
            <div id="Content">
              <h4>Venue Name</h4>
              <input class="label" type="text" name="venueName" placeholder="venueName*">
              <label for="venueName"></label>
            </div>
          </li>

          <li>
            <div id="Content">
              <h4>Email</h4>
              <input class="label" type="text" name="email" placeholder="email*">
              <label for="email"></label>
            </div>
          </li>

          
          <li>
            <div id="Content">
              <h4>Contact Number</h4>
              <input class="label" type="text" name="contactNumber" placeholder="contactNumber*">
              <label for="contactNumber"></label>
            </div>
          </li>

          <li>
            <div id="Content">
              <h4>Address</h4>
              <input class="label" type="text" name="address" placeholder="address*">
              <label for="address"></label>
            </div>
          </li>
          
          <li>
            <div id="Content">
              <h4>Description</h4>
              <input class="label" type="text" name="description" placeholder="description*">
              <label for="description"></label>
            </div>
          </li>

          
                    
        </ul>
      </menu>
      <button class="saveChanges" type="button">Save Changes</button>
    </div>
  </div>

