<form [formGroup]="reviewForm">
<div id="MobileView">

  <div id="Content">

    <h3 id="Title"><strong>{{ event.eventName }}</strong></h3>
    <div class="HR"></div>
    <menu>
      <ul>

        <li>
          <div id="Content">
            <h4>Write your review here</h4>
            <textarea class="label" type="text" placeholder="Pleae write how you felt during that event!" formControlName="comment"></textarea>
          </div>
        </li>

      </ul>
    </menu>
    <button class="saveChanges" type="submit" (click)="PublishReview()">Publish review!</button>

  </div>

</div>
</form>
