<div id="MobileView">
    <div id="Content">
      <div id="UserImg"><i id="SocialIcon"><i class="fab fa-facebook-square"></i></i></div>
      <h3 id="Title"><strong>*name* *surname*</strong></h3>

      <div class="HR"></div>
  
      <menu>
        <ul>
          <li>
            <div id="Icon"><i class="fa fa-ad"></i></div>
            <div id="Content">
              <h4>Email</h4>
              <span>*email*</span>
            </div>
          </li>
          
          <li>
            <div id="Icon"><i class="fa fa-list-ul"></i></div>
            <div id="Content">
              <h4>Phone Number</h4>
              <span>*phone number*</span>
            </div>
          </li>
          
          <li>
            <div id="Icon"><i class="fa fa-heart"></i></div>
            <div id="Content">
              <h4>City</h4>
              <span>*city*</span>
            </div>
          </li>
          
          <li>
            <div id="Icon"><i class="fa fa-map-marked-alt"></i></div>
            <div id="Content">
              <h4>Country</h4>
              <span>*country*</span>
            </div>
          </li>
          
          <li>
            <div id="Icon"><i class="fa fa-credit-card"></i></div>
            <div id="Content">
              <h4>Address</h4>
              <span>*address*</span>
            </div>
          </li>
          
        </ul>
      </menu>
    </div>
  </div>