<form class="FormVenueEdit" [formGroup]="editUserForm">
  <h1>Edit Form</h1>

  <fieldset>
    <legend><span class="number">*</span> Want to change your info?</legend>
    <br />
    <br />
    <Label style="margin-right: 30px; color: rgb(209, 106, 106)"> Name: </Label>
    <input
      id="name"
      style="border-radius: 15px"
      type="text"
      formControlName="name"
      value="{{ user.name }}"
    />
    <Label
      style="margin-right: 12px; color: rgb(209, 106, 106)"
      for="venueName"
    >
      Surname:
    </Label>
    <input
      id="venueName"
      style="border-radius: 15px"
      type="text"
      formControlName="surname"
      value="{{ user.surname }}"
    />
    <Label
      style="margin-right: 23px; color: rgb(209, 106, 106) ;"
      for="address"
    >
      Email:
    </Label>
    <input
      id="address"
      style="border-radius: 15px"
      type="text"
      formControlName="email"
      value="{{ user.email }}"
    />
    <Label style="margin-right: 25px; color: rgb(209, 106, 106) ;" for="phone">
      Phone Number:
    </Label>
    <input
      id="phone"
      style="border-radius: 15px"
      type="text"
      formControlName="phoneNumber"
      value="{{ user.phoneNumber }}"
    />
  </fieldset>

  <button type="submit" (click)="FinalizeEdit()">Save</button>
</form>
