<div class="login-wrap">
  <div class="login-html">
    <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Name</label>
    <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
    <div class="login-form">
      <div class="sign-in-htm">
        <div class="group">
          <label class="title" for="user" class="label">Description</label>
          <label class="value" id="user" type="text" class="input"></label>
        </div>
        <div class="group">
          <label for="pass" class="label">Start hopur:</label>
          <label id="pass" type="password" class="input" data-type="password"></label>
        </div>
        <div class="group">
          <label for="pass" class="label">End hour</label>
          <label id="pass" type="password" class="input" data-type="password"></label>
        </div>
        <div class="group">
          <label for="pass" class="label">Start Date</label>
          <label id="pass" type="password" class="input" data-type="password"></label>
        </div>
        <div class="group">
          <label for="pass" class="label">End Date</label>
          <label id="pass" type="password" class="input" data-type="password"></label>
        </div>

    </div>
  </div>
</div>
