<div class="container">
  <form>
      <div class="input">
          <Label class="label-name"> Name: </Label>
          <input type="text" style="width: 130px;border-radius: 15px;" name="username" >
      </div>
      <div class="input">
          <label> Password: </label>
          <input type="password" style="width: 130px;border-radius: 15px;" name="password">
      </div>
      <div class="button">
          <button class="button-28" style="margin-right:5px" type="submit" (click)="LoginUser()">Log-in</button>
          <button class="button-28" type="submit" (click)="SignupUser()">Sign-up</button>
      </div>
  </form>
</div>

<!-- <div *ngIf="display">
  <app-signup></app-signup>
</div> -->
